@model Szakdoga.Data.Food

@{
    ViewData["Title"] = "Törlés";
}

<h1>Törlés</h1>

<h3>Biztos, hogy törölni szeretné a tételt?</h3>
<div>
    <h4>Asztalok</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodTypeId)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adult)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifyUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifyUserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index">Vissza a listára</a>
    </form>
</div>
